# Exercícios Aula 01, página 38

## Exercício 1

In [60]:
a = 6
b = 2
c = a/b
print(c)

3.0

## Exercício 2

In [61]:
lucro_mensal = 8000  # ou pode ser 8e3 ou 8_000

lucro_anual = 8000*12
print('O lucro anual é de', 'R$'+str(lucro_anual))

lucro_amigo1 = lucro_anual*0.3
print('O lucro do amigo1 foi de', 'R$'+str(lucro_amigo1))

lucro_amigo2 = lucro_anual*(1-0.3)
print('O lucro do amigo2 foi de', 'R$'+str(lucro_amigo2))

O lucro anual é de R$96000
O lucro do amigo1 foi de R$28800.0
O lucro do amigo2 foi de R$67200.0

## Exercício 3

In [62]:
5 + 3 * 10 /3 == 15

True

# Exercícios Aula 01, página 39

In [63]:
movieName = "The Shining"
actors=["Jack Nicholson", "Shelley Duvall", "Danny Lloyd", "Scatman Crothers", "Barry Nelson"]
scores=[4.5,4.0,5.0]
comments=["Best Horror Film I Have Ever Seen", "A truly brilliant and scary film from Stanley Kubrick", "A masterpiece of psychological horror"]

In [64]:
dados_filme = [movieName, actors, scores, comments]
print(dados_filme[1][0])

Jack Nicholson

In [65]:
# Seleciona a maior nota dentro da lista 'scores'
maiorNota = max(dados_filme[2])

# Seleciona o indice da maior nota dentro da lista 'scores'
indice_maiorNota = dados_filme[2].index(max(dados_filme[2]))

# Melhor comentario
maiorComentario = dados_filme[3][indice_maiorNota]

# Resultado
print('Comentário:', maiorComentario, '\n', ' Nota:', maiorNota)

Comentário: A masterpiece of psychological horror
  Nota: 5.0

# Exercícios Aula 01, página 41

In [5]:
idade = input("Digite a sua idade:")
print('Você tem', idade, 'anos', '\b')
print(type(idade))
idade_int = int(idade)
print(type(idade_int))

Você tem 29 anos
<class 'str'>
<class 'int'>

# Exercícios Aula 01, página 46

In [27]:
for i in range(25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [29]:
for j in range(2):
    for i in range(25):
        print(j, i)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
0 20
0 21
0 22
0 23
0 24
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
1 20
1 21
1 22
1 23
1 24

In [32]:
for i in range(31):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [21]:
import numpy as np

# sem estrtutura de repetição
jogo1 = np.random.randint(1, 61, 6)
print(jogo1)

[24 11 59  8 42 39]

In [77]:
#com estrutura de repetição
for i in range(6):
    jogo2 = np.random.choice(60)
    print(jogo2)

47
21
10
28
42
46